*{
    margin: 0;
    padding: 0;
    
}
/* All common Css Start */
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* All common Css End */


/* top header Start */
#topheader{
    padding: 25px 0;
    background: rgb(0, 195, 255);
}
.topheadercontent{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.topheaderleft{
    display: flex;
    gap: 40px;
}
.topheaderleft p{
color: orange;
font-size: 12px;
font-family:  'Open Sans',  sans-serif;
font-weight: 700;
}
.topheaderleft i{
    margin-right: 12px;
    font-size: 15px;
    display: inline-block;
}
.topheaderright{
display: flex;
gap: 40px;
margin-right: 10px;
}
.topheaderright a{
    color: orange;
}
.topheaderright a:hover{
color: green;
transition: .4;
}

/* TOP Header ENd */


/* header part Start */
#headerpart{
   
}
.logowithmenu{
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-left: -31px;
    padding-top: 4px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color:  rgb(0, 195, 255);
    font-weight: bold;
    text-transform: uppercase;
 padding: 0 40px;
 line-height: 105px;
 transition: 0.4s;
}
.menu ul li a:hover{
    color: green;
}
/* header part  End */


/* banner Start */
#bannerpart{
    
    background: url(../images/group\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bannerovelay{
    padding-top:200px;
    padding-bottom: 200 px;
    background: rgba(0, 0, 0, 0.5);   
}
.bannercontent{
    text-align: center;
    color: rgb(0, 195, 255);
}
.bannercontent h3{
    font-size: 30px;
    font-family: 'roboto slab' , 'serif' ;
}
.bannercontent span{
    color: orange;
}
.bannercontent h1{
    font-size: 50px;
    font-family:'roboto slab' , 'serif' ;
}
.bannercontent p{
    font-family:'Open Sans',  sans-serif ;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px;
}
.bannercontent a{
    padding: 15px 35px;
    background:greenyellow;
    border-radius: 50px;
    display: inline-block;
    font-size: 18px;
    font-family:'Open Sans',  sans-serif ;
    color: #fff;
    transition: .4s;
   
}
.bannercontent a:hover{
    color: darkblue;
    background: green;
   
}
/* banner End */


/*  Start */
/*  End */
/*  Start */
/*  End */
/*  Start */
/*  End */
/*  Start */
/*  End */